<div class="container1">
    
    <img class="imghead" src="../../assets/topcupcake.jpg" alt="image">
    
    <div class="centered">
        <h1 class="title1">Our Story</h1>
    </div>
</div>

<div><br></div>
    

<div class="content" >
    

   
     <p style="font-size: large;font-weight: bold;">About Ruchi bakes <br><small> We're here to help you create</small></p>

 
    <p style="text-align: justify;" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque totam veniam porro eveniet incidunt, quos quo recusandae cum, quibusdam rerum molestiae mollitia cupiditate dolores labore! Vitae eum corporis asperiores, saepe earum quidem iusto, aut quaerat porro inventore deleniti vero molestias rerum iure incidunt exercitationem dolores, cumque sit. Praesentium, iusto dignissimos.</p><br>

    <p style="font-size: large;font-weight: bold;">Our story <br></p>

 
    <p style="text-align: justify;" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque totam veniam porro eveniet incidunt, quos quo recusandae cum, quibusdam rerum molestiae mollitia cupiditate dolores labore! Vitae eum corporis asperiores, saepe earum quidem iusto, aut quaerat porro inventore deleniti vero molestias rerum iure incidunt exercitationem dolores, cumque sit. Praesentium, iusto dignissimos.</p><br>

    <p style="font-size: large;font-weight: bold;">Join our crafting community <br></p>

 
    <p style="text-align: justify;" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque totam veniam porro eveniet incidunt, quos quo recusandae cum, quibusdam rerum molestiae mollitia cupiditate dolores labore! Vitae eum corporis asperiores, saepe earum quidem iusto, aut quaerat porro inventore deleniti vero molestias rerum iure incidunt exercitationem dolores, cumque sit. Praesentium, iusto dignissimos.</p><br>

    <p style="font-size: large;font-weight: bold;">Blog with us <br></p>

 
    <p style="text-align: justify;" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque totam veniam porro eveniet incidunt, quos quo recusandae cum, quibusdam rerum molestiae mollitia cupiditate dolores labore! Vitae eum corporis asperiores, saepe earum quidem iusto, aut quaerat porro inventore deleniti vero molestias rerum iure incidunt exercitationem dolores, cumque sit. Praesentium, iusto dignissimos.</p><br>
</div>

