.imghead{
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    position: relative;
    text-align: center;
    color: #583759;
  }

  .title1{
      font-weight: bold;
      font-family: 'Cardo', serif;
      font-size: 80px;
  }

  @media screen and (max-width: 600px){
    .title1{
        font-size: 45px;
    }
}

  .content{
      padding-left: 10%;
      padding-right: 10%;
  }