

#topimage {
    position: relative;
    text-align: center;
    color: white;
}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    font-family: 'Cardo', serif;
    transform: translate(-50%, -50%);
    color: #583759;
    font-weight: bold;
}
@media screen and (max-width: 601px){
    .centered{
        font-size: 30px;
    }
}

* {
    box-sizing: border-box;
  }
  .row{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .column {
    float: left;
    text-align: center;
    width: 19%;
    padding: 2px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  h5{
    font-weight: bold;
    font-size: 17px;
}
input{
    
    width: 50%;
    height: 39px;
    
}
#checkout{
  font-size: 16px;
  background-color: red;
  border-color: red;
  border-radius: 28px;
  border: 1px;
  color: white;
  width: fit-content;
  padding: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

/* .qtybtn{
  padding: 5px;
} */



.decrease{
  height: 40px; border-bottom-left-radius: 25px; border-top-left-radius: 25px;
  padding-left: 10px;
}

.increase{
  height: 40px; border-bottom-right-radius: 25px; border-top-right-radius: 25px;
}



@media screen and (min-width:376px) and (max-width:769px){

  input{
    
    width: 35%;
    height: 29px;
  }

  .decrease{
    height: 30px;
  }

  .increase{
    height: 30px;
  }



}