

#topimage {
    position: relative;
    text-align: center;
    color: white;
}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    font-family: 'Cardo', serif;
    transform: translate(-50%, -50%);
    color: #583759;
    font-weight: bold;
}
@media screen and (max-width: 601px){
    .centered{
        font-size: 40px;
    }
}

* {
    box-sizing: border-box;
  }
  .row{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /* .column {
    float: left;
    text-align: center;
    width: 50%;
    padding: 2px;
  } */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

  @media screen and (min-width: 501px) {
    .column {
      width: 20%;
    }
  } */

  @media screen and (max-width: 500px) {
    .column1 {
      width: 100%;
    }
  }

  @media screen and (min-width: 501px) {
    .column1 {
      width: 30%;
    }
  }

 

  





  h5{
    font-weight: bold;
    font-size: 17px;
}
#ordernow{
  font-size: 16px;
  background-color: red;
  border-color: red;
  border-radius: 15px;
  border: 1px;
  color: white;
  width: fit-content;
  /* padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%; */
  padding: 5px 12px 5px 12px;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#addtocart{
  font-size: 16px;
  background-color: brown;
  border-color: brown;
  border: 1px;
  border-radius: 15px;
  color: white;
  width: fit-content;
  /* padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%; */
  padding: 5px 12px 5px 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (min-width:376px) and (max-width: 769px){
  .column{
    margin-top: 5px;
  }
}

@media screen and (min-width:769px) and (max-width: 1025px){
  .column{
    margin-top: 5px;
  }
}

input[type=search]{
  border-radius: 20px;


}

.btn{
border-radius: 20px;
}


.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

.pagination>li>a { 
  border-radius: 50% !important;margin: 0 5px;
  color: black;
}

h5{
  min-height: 40px;
}

