.imghead{
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container1 {
    position: relative;
    text-align: center;
    color: #583759;
  }

  .title1{
      font-weight: bold;
      font-family: 'Cardo', serif;
      font-size: 80px;
  }

  

  /* input[type=text]{
    border-radius: 10px;
    background-color: transparent;

}

input[type=text]:focus{
  outline: none;

} */

::placeholder{
    text-align: left;
    font-size: small;
    padding-left: 10px;
}


@media only screen and (max-width: 600px) {
    
    
  
 
    
  }

  .card-body{
      color: black;
      text-align: left;
  }

  .card{
      border: none;
  }

  * {
    box-sizing: border-box;
  }
  
  

  @media screen and (max-width: 600px){
    .title1{
        font-size: 40px;
    }}

    .form-control:focus {
      outline: 0 !important;
      border-color: initial;
      box-shadow: none;
  }

  input[type=search]{
    border-radius: 20px;
 

}

.btn{
  border-radius: 20px;
}

.input-group{
  color: black;
}


@media screen and (max-width:376px){
  .input-group{
    margin-top: 5px;
 

}


}

