<div class="container1">
    
    <img class="imghead" src="../../assets/topcupcake.jpg" alt="image">
    
    <div class="centered">
        <h1 class="title1">Contact</h1>
    </div>
</div>
<br><br><br>

<div class="row ">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5 text1">
        <h3>Address</h3>
        <p>
            Storefront & Mailing Address <br>
            4760 Mission Gorge Place <br>
            Suite G, San Diego, CA 92120
        </p>

        <h5>Customer Support</h5>
        <p>
            +91 858-265-9957 <br>
            orders@richibakes.com
        </p>
    </div>
    <div class="col-sm-4 ">
        <div class="text1">
        <h3 >Contact</h3>
        <br>
        <form action="" ngNativeValidate>
            <div>
            <label for="">Your Name</label><br>
            <input type="text" name="name" id="" placeholder="" pattern="[a-zA-Z.]{1,20}" required>
        </div>
        <div>
            <br>
            <label for="">Email</label><br>
            <input type="email" name="email" id="" placeholder="" required>
        </div>
        <div>
            <br>
            <label for="">Message</label><br>
            <textarea name="message" id=""  rows="3" required></textarea>
        </div>
        <div>
            <br>
          <input class="sbmt" type="submit" name="Submit">
        </div>



        </form>

    </div>
</div>
    <div class="col-sm-2">

    </div>


</div>